#image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#image-container div {
    margin: 10px;
}

#image-container img {
    max-width: 100%;
    height: auto;
    width: 256px;
}

#image-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    color: white;
    background-color: gray;
    cursor: pointer;
    border-radius: 12px;
}

.button.liked {
    background-color: green;
}

#greeting {
    text-align: center;
    font-size: 2em;
}
