<!DOCTYPE html>
<html>
<head>
    <title>Image Liker</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        /* Include some CSS to style the cards and button alignment */
    </style>
</head>
<body>
    <div id="username-form" style="display: none;">
        <input id="username-input" type="text" placeholder="Enter username">
        <button id="submit-button">Submit</button>
    </div>
    <h2 id="greeting" style="display: none;"></h2>
    <div id="image-container"></div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
